@font-face {
	font-family: 'GothamBook';
	src: url('fonts/gotham/GothamBook.woff2') format('woff2'), /* Super Modern Browsers */ url('fonts/gotham/GothamBook.woff') format('woff'),
		/* Pretty Modern Browsers */ url('fonts/gotham/GothamBook.ttf') format('truetype'); /* Safari, Android, iOS */
}
@font-face {
	font-family: 'GothamLight';
	src: url('fonts/gotham/GothamLight.woff2') format('woff2'), /* Super Modern Browsers */ url('fonts/gotham/GothamLight.woff') format('woff'),
		/* Pretty Modern Browsers */ url('fonts/gotham/GothamLight.ttf') format('truetype'); /* Safari, Android, iOS */
}

/* Global Variables */

:root {
	--bg: #101115;
	--bg2: #3a3c65;
	--bg3: #5369ce;
	--bg4: #5d4db6;
	--bg5: #9060ce;
	--font: #f0f0f0;
	--accent: #f03e10;
	--accent2: #ffbe2d;
	--accent3: #f07d30;
}

body {
	background-color: var(--background);
	width: 100%;
	margin: 0;
	padding: 0;
	background-image: linear-gradient(180deg, var(--bg), var(--bg2), var(--bg3), var(--bg4), var(--bg5));
	color: var(--font);
	font-family: 'GothamBook', sans-serif;
	font-size: 1.2vw;
}

a {
	margin: auto;
	text-decoration: none;
	color: var(--font);
	font-family: 'GothamLight', sans-serif;
}

p {
	animation: Start 0.7s linear forwards;
	font-weight: 100;
	font-size: 1.5vw;
	margin-left: 50vw;
	margin-right: 20vw;
	margin-top: 0.2vw;
	margin-bottom: 0.2vw;
}

h4 {
	animation: Start 0.5s linear forwards;
	font-weight: 100;
	font-size: 1.5vw;
	margin: auto;
	margin-left: 15vw;
}

h3 {
	animation: Start 0.5s linear forwards;
	font-weight: 100;
	font-size: 3vw;
	margin-left: 5vw;
	margin-top: 0.2vw;
	margin-bottom: 0.2vw;
}

h2 {
	animation: Start 0.5s linear forwards;
	font-weight: 100;
	font-size: 5vw;
	margin-left: 5vw;
	margin-top: 0.2vw;
	margin-bottom: 0.2vw;
}

h1 {
	background: linear-gradient(90deg, var(--accent2), var(--accent3), var(--accent), var(--accent2));
	-webkit-background-clip: text;
	-moz-background-clip: text;
	background-clip: text;
	color: transparent;
	font-weight: 100;
	font-size: 10vw;
	margin-left: 5vw;
	margin-top: 0.2vw;
	margin-bottom: 0.2vw;
}

/* Selection */

::-moz-selection {
	background: var(--bg);
	color: var(--font);
}

::selection {
	background: var(--bg);
	color: var(--font);
}

/* Scrollbar */
::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background: #070707;
}

::-webkit-scrollbar-thumb {
	background: #151515;
}

::-webkit-scrollbar-thumb:hover {
	background: #151515;
}

/* Classes */

.navBar {
	display: flex;
	width: 100%;
	flex-direction: row;
	padding: 1rem 0rem;
	margin-bottom: 15vw;
}

.navBar_2 {
	display: flex;
	position: absolute;
	right: 0;
	width: 50%;
	flex-direction: row;
	padding: 1rem 0rem;
}

.navBar_2.a {
	margin: auto;
	text-decoration: none;
	color: var(--font);
	font-family: 'GothamLight', sans-serif;
	font-size: 3vw;
}

.navBar_2 a:hover {
	animation: Fade 0.2s linear forwards;
	padding: 0.7rem 0;
}

.Logo {
	color: var(--font);
	font-size: 3vw;
	position: absolute;
	left: 3vw;
	top: 3vw;
}

.Logo:hover {
	position: absolute;
	left: 3vw;
}

.text-primary {
	color: var(--accent);
	margin: 0;
}

a.selected {
	color: var(--accent);
	padding: 0.7rem 0;
	box-shadow: 0 0.1rem #ff5733;
}

.separation {
	margin-bottom: 15vw;
}

.cv {
	padding: 1rem;
	outline: 0.1rem solid var(--accent);
}

.cv:hover {
	padding: 1rem 1rem !important;
	color: var(--accent);
}

.itinerario {
	display: flex;
	margin: auto;
	width: 100%;
	flex-direction: column;
	padding: 1rem 1rem;
}

.item-itinerario {
	display: flex;
	margin: auto;
	flex-direction: row;
	padding: 1rem 1rem;
	box-shadow: 0 0.1rem var(--bg3);
}

.footer {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-left: -15px;
	margin-right: -15px;
	width: 100%;
	height: 20vw;
	padding: 10vw 0;
	text-align: left;
	justify-content: center;
	align-items: center;
}

.footer_col {
	position: relative;
	-webkit-box-flex: 0;
	width: 100%;
	display: flex;
	flex-direction: column;
	margin: 0;
	flex: 0 0 33.33%;
	max-width: 33.33333%;
	justify-content: center;
	text-align: left;
}

.underline {
	position: relative;
	background: var(--accent);
	width: 10vw;
	height: 0.4vw;
	transform: translate(-1vw, 1.5vw);
}

/* Animations */

@keyframes Fade {
	100% {
		color: var(--accent);
		box-shadow: 0 0.1rem #ff5733;
	}
}

@keyframes Start {
	0% {
		transform: translate(0, 3vw);
		opacity: 0;
	}

	100% {
		transform: translate(0, 0);
		opacity: 1;
	}
}
