@font-face {
	font-family: 'Didhot';
	src: url('../fonts/Didhot-Regular.woff2') format('woff2');
}

:root {
	--font-color: #ffffff;
	--background-color: #222;
	--accent-color: #fa5b8f;
}

body {
	margin: 3%;
	padding: 0;
	background: var(--background-color);
	color: var(--font-color);
	font-family: 'Didhot', 'Times New Roman', serif;
	font-weight: 100;
}

textarea {
	background: var(--background-color);
	color: var(--font-color);
	font-family: 'Didhot', 'Times New Roman', serif;
	font-weight: 100;
	font-size: 1.4em;
}

.titulo {
	z-index: 2;
	font-size: 50px;
	text-align: center;
	width: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
}

p {
	font-size: 30px;
	text-transform: capitalize;
	background-color: var(--background-color);
	border: var(--font-color);
	border-width: 2px;
	border-style: solid;
	margin: 0;
}

h1 {
	font-size: 60;
	text-align: center;
	letter-spacing: 4px;
	line-height: 85px;
	background-color: var(--accent-color);
	border: var(--font-color);
	border-style: solid;
	border-width: 15;
	width: 45%;
	height: 80px;
	margin: 0;
	margin-left: auto;
	margin-right: auto;
}

h3 {
	font-size: 48px;
}

a {
	color: var(--font-color);
	text-transform: uppercase;
	text-decoration: none;
}

.center {
	margin: 0;
	margin-left: auto;
	margin-right: auto;
	text-align: justify;
	text-align-last: justify;
	letter-spacing: auto;
	width: 80%;
	padding: 1rem;
}

text {
	color: var(--font-color);
	text-transform: uppercase;
}

button {
	color: var(--font-color);
	background: var(--background-color-color);
	border: var(--font-color);
	font-family: 'Helvetica-Light';
	border-style: solid;
	padding: 20px;
	border-width: 1px;
	text-align: center;
	font-size: 38px;
	width: auto;
	line-height: 18px;
	letter-spacing: 3px;
	text-transform: uppercase;
}

input[type='number'] {
	color: var(--font-color);
	background: var(--background-color-color);
	border: var(--font-color);
	font-family: 'Helvetica-Light';
	border-style: solid;
	padding: 10px;
	border-width: 1px;
	text-align: center;
	font-size: 38px;
	width: auto;
	line-height: 18px;
	letter-spacing: 3px;
	text-transform: uppercase;
}

input[type='text'] {
	color: var(--font-color);
	background: var(--accent-color);
	border: var(--background-color);
	font-family: 'Helvetica-Light';
	border-style: solid;
	padding: 20px;
	border-width: 1px;
	text-align: center;
	font-size: 38px;
	width: auto;
	line-height: 18px;
	letter-spacing: 3px;
}
