@import url('https://fonts.googleapis.com/css?family=Patrick+Hand+SC');

body{
    background-color: #f7f9f8;
    color: #000769;
    font-family: 'Patrick Hand SC', cursive;
    text-align: center;
    margin: auto;
    height: 100%;
}

h1{
    width: 80%;
    font-size: 5em;
    font-weight: bolder;
    margin: auto;
}

h3{
    width: 80%;
    font-size: 2em;
    font-weight: 200;
    margin: auto;
    margin-top: 2em;
    margin-bottom: 2em;
}

table{
    font-size: 3em;
    margin: auto;
    font-weight: 400;
}

a{
    text-decoration: none;
    color: #f7f9f8;
    font-size: 2em;
    padding: .4em;
    font-weight: bold;
    background-color: #00A150;
}

.divisor{
    margin-bottom: 15%;
}
