@font-face { 
    font-family: "Didhot"; 
    src: url("https://dpalme24.github.io/Didhot-Regular.woff2") format("woff2");
}

body{
    background-color: black;
    color: #E29173;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin: auto;
}

h1{
    width: 80%;
    font-size: 5em;
    font-weight: 900;
    margin-top: 2em;
}

h3{
    width: 80%;
    font-size: 2em;
    font-weight: 200;
    margin-top: 2em;
    margin-bottom: 2em;
}

table{
    font-size: 3em;
    margin: auto;
    font-weight: 400;
}

a{
    text-decoration: none;
    color: #E29173;
    font-size: 2em;
    padding: .4em;
    font-weight: bold;
    background-color: #222;
}

.divisor{
    margin-bottom: 15%;
}
