@font-face
{
font-family: NexaBold;
src: url(NexaBold.ttf);
}


body{
  margin: 0;
  padding: 0;
  background: #FFEFBE;
}

h1 {
    font-family: Helvetica;
    font-weight: bold;
    font-size: 36px;
    text-align: center;
    color: #EBAC13;
    text-transform: uppercase;
}


h3 {
    font-family: Helvetica;
    font-weight: bold;
    font-size: 36px;
    text-align: center;
    color: #EBAC13;
    text-transform: uppercase;
}

li {
    font-family: Helvetica;
    font-weight: bold;
    font-size: 35px;
    color: #FFEFBF;
}

a {
    font-family: Helvetica;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: -2px;
    font-size: 36px;
    color: #EBAC13;
}

a:link, a:visited {
    text-decoration: none;
}

button {
    color: #ffffff;
    background: #ac8535;
    border:none;
    font-family: Helvetica;
    font-weight: bold;
    text-align: center;
    font-size: 36px;
}

input[type=number] { 
     color: #ffffff;
    background: #ac8535;
    border:none;
    border-radius: 2px;
    font-family: Helvetica;
    font-weight: bold;
    text-align: center;
    font-size: 36px;
    width: 80px;
}

img {
    opacity: 0.3;
    filter: alpha(opacity=1);
}
