@font-face { 
    font-family: "Didhot"; 
    src: url("Didhot-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "HelveticaR";
  src: url(Helvetica-Regular.tff) format("tff");
}

:root {
    --font-color: #151515;
    --background-color: #f6c802;
    --font-background: #f0f0f0;
    --accent-color: #f05b30;
}

body{
    margin: 3%;
    padding: 0;
    background: var(--background-color);
    color: var(--font-color);
    font-family: HelveticaR;
    font-weight: bold;
    letter-spacing: 1px;
}

p{
    font-size: 30px;
    text-transform: capitalize;
    background-color: var(--font-background);
    border: var(--font-color);
    border-width: thick;
}

h1 {
    font-weight:normal;
    font-size: 90px;
    text-align: center;
    background-color: var(--accent-color);
    border: var(--font-color);
    border-style: solid;
    border-width: 15;
    font-weight: 500;
    width: 460;
    margin-left: auto;
    margin-right: auto;
}

h3 {
    font-weight:normal;
    font-size: 48px;
}


a{
    color: var(--font-color);
    text-decoration: none;
    font-weight: 750;
}

a:link, a:visited {
    text-decoration: none;
    text-transform: uppercase;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 85%;
    padding: 10;
    border: var(--font-color);
    border-style: solid;
    border-width: 10;
}

text{
    color: var(--font-color);
    text-transform: uppercase;
}

button {
    color: var(--font-color);
    background: var(--accent-color);
    font-size: 18px;
    width: auto;
    line-height: 18px;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-align: center;
}

input[type=number] { 
    color: var(--font-color);
    background: var(--accent-color);
    border: thick;
    text-align: center;
    font-size: 14px;
    width: auto;
    line-height: 18px;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-align: center;
}

input[type=text] { 
    color: var(--font-color);
    background: var(--accent-color);
    font-size: 14px;
    width: auto;
    line-height: 18px;
}
