@font-face
{
font-family: Nexa;
src: url(NexaLight.ttf);
}

@font-face
{
font-family: NexaBold;
src: url(NexaBold.ttf);
}

h1 {
    font-family: NexaBold;
    font-size: 124px;
    color: #FF0FFF;
}

li {
    font-family: Nexa;
    font-size: 72px;
    color: #FFF0FF;
}

a {
    font-family: Nexa;
    font-size: 72px;
    color: #FFF0FF;
}
