ul 
  { 
    font-family: 'Montserrat', sans-serif;
   font-size:55px;
    color: rgb(197, 229, 228, 0.8);
}

h1
 {
    font-family: 'Montserrat', sans-serif;
    font-size: 48px;
    font-style: Bold;
}
